*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkest: #2E323F;
    --dark: #3B4050;
    --med: #6F737F;
    --white: #FFFFFF;
    --accent: #A59678;
    --oswald: 'Oswald', sans-serif;
    --monty: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.gold {
    color: var(--accent);
}

.subtitle {
    font-family: var(--oswald);
    margin-bottom: 0.8em;
}

.btn {
    background-color: var(--accent);
    padding: 0.4rem 0.8rem;
    border-radius: 100px;
    border: none;
    color: var(--white);
    text-transform: uppercase;
}

.btn:hover {
    opacity: 0.65;
    cursor: pointer;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.text {
    font-family: var(--monty);
}

nav {
    background-color: var(--darkest);
    color: white;
    text-transform: uppercase;
    font-family: var(--oswald);
    font-size: 0.9rem;
    padding: 1rem 0;
}

.nav {
    justify-content: space-between;
}

.logo {
    width: 3rem;
}

.nav__link_container {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__list--primary {
    align-self: flex-end;
    margin-right: 3em;
}

.nav__item {
    list-style: none;
}

.nav__item + .nav__item {
    margin-left: 1.5em;
}

.nav__link {
    cursor: pointer;
}

.nav__link:hover {
    opacity: 0.65;
}

.hero {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    padding: 6rem 0;
}

.hero-container {
    gap: 3.5rem;
}

.hero__title {
    font-family: var(--oswald);
    font-size: 3.2rem;
    max-width: 40%;
    line-height: 1.1;
}

.hero__content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 200px;
    line-height: 1.6;
    align-self: flex-end;
}

.hero__content .text {
    font-size: 0.9rem;
    margin-bottom: 1.2em;
    opacity: 0.9;
}

.hero__content .btn {
    font-family: var(--oswald);
    align-self: flex-start;
    font-size: 1.2rem;
    padding: 0.3em 1.6em;
}

section {
    padding: 3.5rem 0;
}

.section1 {
    background-color: rgb(231, 231, 231);
    display: flex;
}

.section1 .container {
    gap: 3.6em;
    flex-direction: column;
}

.col {
    text-align: center;
}

.col .subtitle {
    font-family: var(--oswald);
    font-size: 1.1rem;
    margin-bottom: 0.5em;
}

.col .text {
    font-size: 0.7rem;
}

.section2 .container {
    gap: 4rem;
}

.section2__main .text {
    font-size: 0.9rem;
}

.section2__main img {
    margin: 2rem 0;
}

.col--sidebar {
    background-color: var(--dark);
    color: var(--white);
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

.footer {
    background-color: var(--dark);
    color: var(--white);
}

.footer .container {
    flex-direction: column;
}

.footer__title {
    font-family: var(--monty);
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.footer__content .col {
    text-align: left;
    flex: 1;
}

.footer__content .col.long {
    min-width: 40%;
    max-width: 40%;
}

.footer__content .col .subtitle {
    line-height: 1.05;
}

.footer__li {
    cursor: pointer;
    list-style: none;
    padding-bottom: 0.9em;
}

.footer__link {
    text-decoration: none;
    color: var(--white);
}

.footer__link:hover {
    opacity: 0.65;
}




@media (min-width: 700px) {
    .section1 .container {
        flex-direction: row;
        /* max-width: 80%; */
    }

}

@media (max-width: 700px) {
    .hero .container {
        flex-direction: column;
    }

    .hero__content {
        align-self: center;
        max-width: 100%;
    }

    .hero__title {
        max-width: 100%;
    }

    .section2 .container {
        flex-direction: column;
    }

    .section2__main {
        padding-bottom: 3rem;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__content .col,
    .footer__content .col.long {
        max-width: 100%;
        width: 100%;
    }

}

