*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkest: #2E323F;
    --dark: #3B4050;
    --med: #6F737F;
    --white: #FFFFFF;
    --accent: #A59678;
    --oswald: 'Oswald', sans-serif;
    --monty: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.gold {
    color: var(--accent);
}

.btn {
    background-color: var(--accent);
    padding: 0.4rem 0.8rem;
    border-radius: 100px;
    border: none;
    color: var(--white);
    text-transform: uppercase;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

nav {
    background-color: var(--darkest);
    color: white;
    text-transform: uppercase;
    font-family: var(--oswald);
    font-size: 0.9rem;
    padding: 1rem 0;
}

.nav {
    justify-content: space-between;
}

.logo {
    width: 3rem;
}

.nav__link_container {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__list--primary {
    align-self: flex-end;
    margin-right: 3em;
}

.nav__item {
    list-style: none;
}

.nav__item + .nav__item {
    margin-left: 1.5em;
}

.nav__link {
    cursor: pointer;
}

.nav__link:hover {
    opacity: 0.65;
}

