*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #23424a;
    color: white;
    padding: 3rem;
}

.container {
    /* BACKGROUND: GREY; */
}

.hero__text {
    width: 62%;
    max-width: 750px;
}

.hero p {

}

.hero__img {
    align-self: flex-start;
    width: 32%;
}

img {
    max-width: 100%;
}

h1 {
    padding-bottom: 1rem;
    margin-top: 0;
}

p {
    padding-bottom: 2rem;
}

.btn {
    padding: 1em 2em;
    text-transform: uppercase;
    border-radius: 2em;
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #1db4da;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    color: #23424a;
}

.btn:hover {
    background-color: #3ad8ff;
}

.row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    /* align-items: center; */
    /* margin: 0 auto; */
    /* padding: 2em 10em; */
    /* text-align: center; */
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row + .row {
    background-color: #1a7a92;
    color: white;
}

.col h2 {
    margin-bottom: 0.75em;
}